body
{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    display: block;
}
#header1
{
    text-decoration: none;
    display: inline-block;
    margin-left: 40%;
    margin-top: 1%;
}
#header1 span
{
    padding-left: 20px;
    font-weight: bold;
}
.button
{
    border-radius: 3px;
    color: blue;
    background-color: whitesmoke;
    margin-left: 10px;
}
input[type=button]:hover
{
    background-color: blue;
    color: white;
}
.lefticon
{
    display: inline-block;
    padding-left: 15px;
}
.righticon
{
    display: inline-block;
    margin-left: 60%;
    padding-top: 25px;
}

.details
{
    width: 100%;
    background-color: navy;
    text-decoration: none;
}
.details ul a
{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 2%;
    font-size: 14px;
}
.buy
{
    border-radius: 20px;
    color: white;
    background-color: blue;
    width: 55px;
    padding: 0.5%;
}
.sell
{
    border-radius: 20px;
    color: white;
    background-color: red;
    width: 55px;
    padding: 0.5%;
}
.fa-search
{
    color: white;
    margin-left: 8%;
}
.buyer1
{
    width: 80%;
    height: 150px;
    margin-left: 10%;
    background-size: cover;
    background-color: aquamarine;
    border-radius: 15px;
    clip: rect(0px,60px,200px,0px);
}
.buyer
{
    background-color: blue;
    color: white;
    height: 30px;
    font-size: larger;
    text-align: center;
    margin-left: 25%;
}
